.jumbotron{
  background-image: url(desertpan.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.jumbotron h1{
  margin-left: 30px
}

.jumbotron p{
  margin-left: 30px;
}

.btn btn-info {
  width: 100%;
  display: block;
} 

#graph{
  height: 600px;
}

/*copied and altered styles from flat-ui*/
/*.todo {
  color: #798795;
  margin-bottom: 20px;
  border-radius: 6px;
}
.todo ul {
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0 0 6px 6px;
}
.todo li {
  background: #34495e;
  background-size: 20px 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.214;
  margin-top: 2px;
  padding: 18px 42px 21px 25px;
  position: relative;
  -webkit-transition: .25s;
          transition: .25s;
}
.todo li:first-child {
  margin-top: 0;
}
.todo li:last-child {
  border-radius: 0 0 6px 6px;
  padding-bottom: 21px;
}
.todo li.todo-done {
  background: transparent;
  color: #1abc9c;
}
.todo li.todo-done .todo-name {
  color: #1abc9c;
}
.todo li:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 22px;
  margin-top: -10px;
  background: #ffffff;
  border-radius: 50%;
}
.todo li.todo-done:after {
  content: "\e60a";
  font-family: 'Flat-UI-Icons';
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1abc9c;
  color: #2c3e50;
}
.todo-search {
  position: relative;
  background: #1abc9c;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #34495e;
  padding: 19px 25px 20px;
}
.todo-search:before {
  position: absolute;
  font-family: 'Flat-UI-Icons';
  content: "\e630";
  font-size: 16px;
  line-height: 17px;
  display: inline-block;
  top: 50%;
  left: 92%;
  margin: -0.5em 0 0 -1em;
}*/
/*.todo-search-field {*/
  /*background: none;
  border: none;*/
/*  color: #34495e;*/
 /* color: #27AE60;*/
  /*font-size: 19px;
  font-weight: 700;
  margin: 0;
  line-height: 23px;
  padding: 5px 0;
  text-indent: 0;
  box-shadow: none;
  outline: none;*/
/*}
.todo-search-field::-moz-placeholder {
  color: #34495e;
  opacity: 1;
}
.todo-search-field:-ms-input-placeholder {
  color: #34495e;
}
.todo-search-field::-webkit-input-placeholder {
  color: #34495e;
}
.todo-icon {
  float: left;
  font-size: 24px;
  padding: 11px 22px 0 0;
}
.todo-content {
  padding-top: 1px;
  overflow: hidden;
}
.todo-name {
  color: #ffffff;
  font-size: 17px;
  margin: 1px 0 3px;
}
*/
/*end of copied styles from flat-ui*/

.footer{
  height: 100px;
  text-align: center;
  background-color: grey;
}