body{
    background-color:#A0BAAA;
}

#banner{
  background-image: url(desertpan.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100px;
}

#banner h1{
  margin-left: 35px
}

#banner p{
  margin-left: 35px;
}

#dataSelector h3{
    margin-left: 20px;
}

#dataSelector p{
    margin-left: 20px;
}

.dataSet {
	cursor: pointer;
	margin-top: 18px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

#graph-well {
	height: 500px;
}

#graphBtn {
	margin-top: 36px;
    margin-left: 30px;
}

#table-of-data {
	
	min-height: 525px;
}

#pdfButton {
    margin-left: 30px;
    padding: 30px;
    background-color: #99D07A;
}

/* Tooltip text */
/*.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
*/
    /* Position the tooltip text */
/*    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
*/
    /* Fade in tooltip */
/*    opacity: 0;
    transition: opacity 1s;
}*/

/* Tooltip arrow */
/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/
