ul {
	list-style: none;
}
.dataSet {
	cursor: pointer;
	margin-top: 18px;
}

#graph-well {
	height: 500px;
}

#graphBtn {
	margin-top: 36px;
}

#table-of-data {
	margin-top: 18px;
	min-height: 100px;
}

#pdfButton {
	margin-top: 48px;
}